@model FreeSweet.Models.Recipe


<link href="~/css/reprises1.css" rel="stylesheet" />

<div class="recipe">
    <img src="/img/shop/Reprises/@Model.Img2">
    <h2>@Model.Name</h2>
    <p>@Model.Description</p>

    <table>
        <tr>
            <th>Prep Time</th>
            <th>Cook Time</th>
            <th>Total Time</th>
        </tr>
        <tr>
            <td>@Model.PrepTime</td>
            <td>@Model.CookTime</td>
            <td>@Model.TotalTime</td>
        </tr>
    </table>

    <h3>Ingredients:</h3>
    <div>
        @Html.Raw(Model.Ingredient)
    </div>

    <h3>Instructions:</h3>
    <div>
        @Html.Raw(Model.Instructions)
    </div>

    @if (!string.IsNullOrEmpty(Model.Notes))
    {
        <h3>Notes:</h3>
        <div>
            @Html.Raw(Model.Notes)
        </div>
    }

    <div class="imgs">
        @if (!string.IsNullOrEmpty(Model.Img3))
        {
            <img src="/img/shop/Reprises/@Model.Img3" alt="Image 3">
        }

        @if (!string.IsNullOrEmpty(Model.Img4))
        {
            <img src="/img/shop/Reprises/@Model.Img4" alt="Image 4">
        }
    </div>

    <!-- <a href=""><button>back to all recipes</button></a> -->

</div>

<script src="~/js/reprises1.js"></script>