@model IEnumerable<FreeSweet.Models.Product>


<link href="~/css/shop.css" rel="stylesheet" />

<style>
    .images-titles ul.shuffle {
        list-style: none;
        display: flex;
        gap: 10px;
    }

        .images-titles ul.shuffle li {
            padding: 0; /* نشيل أي تنسيق من li */
        }

            .images-titles ul.shuffle li a {
                /* background-color: #099DA8; */
                color: #099DA8;
                padding: 10px 20px;
                text-decoration: none;
                border-radius: 5px;
                display: inline-block;
                font-weight: bold;
                transition: background-color 0.3s ease; /* سلاسة بالحركة */
            }

            

            .images-titles ul.shuffle li.active a {
                color: #ffff; /* لون مميز للزر النشط */
            }

</style>

<div class="shop">

    <header>
        <h1>Shop</h1>
    </header>

    <div class="images-titles">
        <ul class="shuffle">
            <li class="@(ViewBag.SelectedCategoryId == null ? "active" : "")" data-category="all">
                @Html.ActionLink("All", "Shop", new { id = (int?)null })
            </li>
            <li class="@(ViewBag.SelectedCategoryId == 1 ? "active" : "")" data-category="cake">
                @Html.ActionLink("Cakes", "Shop", new { id = 1 })
            </li>
            <li class="@(ViewBag.SelectedCategoryId == 2 ? "active" : "")" data-category="western">
                @Html.ActionLink("Western Sweets", "Shop", new { id = 2 })
            </li>
            <li class="@(ViewBag.SelectedCategoryId == 3 ? "active" : "")" data-category="arabic">
                @Html.ActionLink("Arabic Sweets", "Shop", new { id = 3 })
            </li>
        </ul>
    </div>

    <div class="item">
        @foreach (var item in Model)
        {
            <div class="card" style="width: 18rem;" data-category="cake">
                <img src="/img/shop/shop/@item.Img1" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">From @item.Price jd </p>
                    <div class="rating">
                        <div class="star">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>

                        <i class="fa-solid fa-cart-shopping"></i>
                    </div>

                    <a asp-area="" asp-controller="Home" asp-action="Products" class="btn btn-primary" asp-route-id="@item.Id"> View Item </a>
                </div>
            </div>
        }


    </div>

    <!-- <a href="" class="Explore"><button>Explore more </button></a> -->
</div>

<script src="~/js/shop.js"></script>